<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/primevue@^3/resources/themes/saga-blue/theme.css" rel="stylesheet" />
    <link href="https://unpkg.com/primevue@^3/resources/primevue.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/primeflex@2.0.0/primeflex.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
    <!-- Dependencies -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>

    <!-- Demo -->
    <script src="https://unpkg.com/primevue@^3/chips/chips.min.js"></script>
    <script src="https://unpkg.com/primevue@^3/fileupload/fileupload.min.js"></script>
    <script src="https://unpkg.com/primevue@^3/toast/toast.min.js"></script>
    <script src="https://unpkg.com/primevue@^3/toastservice/toastservice.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>create Project</title>
</head>

<style>
    .p-chips , .p-chips .p-chips-multiple-container {
        width: 100%;
    }
    .p-fileupload-content .p-progressbar {
        height: 30px;
    }
    .banner-back {
            display: flex;
            flex-direction: row;
            width: 100%;
            background: #a8dadb;
            color: #212121;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
            justify-content:space-between;
        }

        .banner-back i {
            margin-right: 10px;
        }
        a , a:hover , a:active , a:focus{
            color: #212121;
            text-decoration: none; 
        }
        .main-image-controller {
            display: flex;
            margin: 10px 0;
            flex-wrap: wrap;
        }
        .image-controller {
            padding: 0 5px;
            width: 120px;
            height: 120px;
            position: relative;
            border-radius: 10px;
        }
        .image-controller button {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 10;
        }

</style>
<body>
    <div id="app">
        <p-toast></p-toast>
        <div class="container">
            <div class="row">
                <div class="col-12 py-5">
                    <div class="banner-back">
                        <a href="/admin/">
                            <i class="pi pi-arrow-left"></i>
                            <span>BACK</span>
                        </a>
                        <h6>update Project</h6>
                    </div>
                    <form class="mx-auto">
                        <div class="form-group">
                            <label for="title">title</label>
                            <input type="text" class="form-control" v-model="postData.title" placeholder="title example">
                        </div>
                        <div class="form-group">
                            <label for="discription">description</label>
                            <textarea class="form-control" v-model="postData.description" placeholder="description example" rows="2" cols="10"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="discription">Technologies</label>
                            <p-chips v-model="postData.technologies"></p-chips>
                        </div>
                        <div class="form-group flex-column">
                            <label for="images input">images</label>
                            <p-fileupload name="images[]" url="/admin/uploadImages" @select="onSelect($event.files )" :custom-upload="false"  @upload="onUpload($event.files , $event.xhr)" :multiple="true" accept="image/*" :file-limit="3" :max-file-size="1000000">
                                <template #empty>
                                    <p>Drag and drop files to here to upload.</p>
                                </template>
                            </p-fileupload>
                            <template v-if="data">
                                <div class="main-image-controller">
                                    <div class="image-controller"  v-for="(item) in postData.images" :key="item" >
                                         <p-button icon="pi pi-times" @click="removeImage(item)" class="p-button-rounded p-button-danger"></p-button>
                                        <img class="image-controller" :src="`http://localhost/images/projectImages/${item}`" >
                                    </div>
                                </div>
                            </template>
                        </div>
                        <p-button label="Update" @click="onSubmit()" class="p-button-raised"></p-button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        const { createApp, ref , onMounted} = Vue;
        const { useToast } = primevue.usetoast;

        const App = {
            setup() {
                const toast = useToast();
                const validation = ref(false);
                const postData = ref({
                    title:'',
                    description:'',
                    technologies:[],
                    images:[]
                });
                const technologies = ref();
                const files = ref();
                const data = ref()
                onMounted(() => {
                    const id = window.location.pathname.replace('/admin/updateProject/' , '');
                    axios.get('/admin/project/'+id)
                    .then(response => {
                        if (!response.data) return window.location.href = '/admin/'
                        console.log(response.data);
                        data.value = response.data;
                        postData.value = {
                            title:data.value.title,
                            description:data.value.description,
                            technologies:data.value.technologies,
                            images:data.value.images
                        }
                    })
                })

                const  removeItemOnce = (arr, value) => {
                    var index = arr.indexOf(value);
                    if (index > -1) {
                        arr.splice(index, 1);
                    }
                    return arr;
                    }
                
                const removeImage = (index) => {
                    if (postData.value.images.length > 1) {
                        postData.value.images = removeItemOnce(postData.value.images , index);
                        data.value.images = postData.value.images;
                        axios.post('/admin/removeProjectImage' , {
                            id:data.value._id,
                            images:data.value.images,
                            name:index
                        })
                        .then(response => {
                            toast.add({severity: 'success', summary: 'susses', detail: 'removed', life: 3000});
                        })
                    } else return toast.add({severity: 'error', summary: 'error', detail: 'There must be at least one photo', life: 3000});
                    
                }
                const onUpload = (files , callback) => {
                    postData.value.images = [];
                    postData.value.images = JSON.parse(callback.response).links;
                    toast.add({severity: 'info', summary: 'Success', detail: 'images Uploaded', life: 3000});
                }

                const onSelect = (event) => {
                    console.log(event);
                }

                const onSubmit = () => {
                    if (!postData.value.title || !postData.value.description ||  !postData.value.technologies ) return toast.add({severity: 'error', summary: 'error', detail: 'please complete Form', life: 3000});
                    if (postData.value.images.length == 0) return toast.add({severity: 'error', summary: 'error', detail: 'please upload images', life: 3000});
                    axios.put('/admin/updateProject/'+data.value._id , postData.value)
                    .then(response => {
                        console.log(response);
                        toast.add({severity: 'success', summary: 'susses', detail: 'created', life: 3000});
                        setTimeout(() => {
                            window.location.href = "/admin/";
                        }, 1000);
                    })
                }

                return { 
                    technologies,
                    onUpload ,
                    onSelect ,
                    postData ,
                    validation,
                    onSubmit ,
                    removeImage,
                    data}
            },
            components: {
                "p-chips": primevue.chips,
                "p-fileupload": primevue.fileupload,
                "p-toast": primevue.toast,
                "p-button": primevue.button
            }
        };

        createApp(App)
            .use(primevue.config.default, { ripple: true })
            .use(primevue.toastservice)
            .mount("#app");
        </script>
</body>
</html>