<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>index</title>
</head>
<body>
    <div class="main-controller">
        <div class="side-bar">
            <img src="/images/index.jpg">
            <h3>seyed mohammad tosi</h3>
            <p>
                my name is mafia my name is mafia my name is mafia my name is mafia 
            </p>
            <a href="http://" target="_blank">learn more ></a>
        </div>
        <div class="page">
            <div class="container">
                <div class="row">
                    <div class="col-12 my-4">
                        <h1>main title</h1>
                        <p>this beeg is akrami</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/postPreview">
                            <div class="card-custom">
                                <img src="/images/index.jpg">
                                <h6>this is title </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/postPreview">

                            <div class="card-custom">
                                <img src="/images/index.jpg">
                                <h6>this is title </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/postPreview">

                            <div class="card-custom">
                                <img src="/images/index.jpg">
                                <h6>this is title </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/postPreview">

                            <div class="card-custom">
                                <img src="/images/index.jpg">
                                <h6>this is title </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/postPreview">

                            <div class="card-custom">
                                <img src="/images/index.jpg">
                                <h6>this is title </h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .main-controller {
            width: 100%;
            display: flex;
            flex-direction: row;
            background: #f0faef;
            overflow-x: hidden;

        }

        .main-controller .side-bar {
            width: 200px;
            height: 100vh;
            background: #1d3557;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 30px 15px;
        } 
        .main-controller .side-bar img {
            width: 100%;
            height: 200px;
            border: 1px solid #fff;
        }
        .main-controller .side-bar h3 {
            font-size: 16px;
            color: #fff;
            margin: 10px 0;
            text-align: left;
        }

        .main-controller .side-bar p {
            color: #686868;
            text-align: left;

        }
        .main-controller .side-bar a {
            color: #da1c1c;
            text-align: left;
            width: 100%;
            display: block;
        }
        .main-controller .page {
            width: calc(100% - 200px);
        }
        .card-custom {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 5px #b5b5b5;
            margin-bottom: 15px;
            cursor: pointer;
            transition: .6s;
        }
        .card-custom:hover {
            background: #bbbbbba4;
        }
        .card-custom img  {
            width: 100%;
            height: 250px;
        }
        .card-custom h6  {
           margin: 10px 0;
        }


        a , a:hover , a:active , a:focus{
            color: #212121 !important;
            text-decoration: none !important; 
        }
    </style>
</body>
</html>